li {
    list-style: none;
    display: inline;
    font-size: large;
}

.green {
    color: green;
}

.search-box {
    display: inline-block; /* 인라인 블록으로 설정 */
}

#search {
    display: flex; /* 플렉스 컨테이너로 설정 */
    align-items: center; /* 수직 정렬 */
}

.search-txt {
    display: inline-block;
}
